html {
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    min-height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-wrap: wrap;  
    width: 500px;
    height: 500px;
    background-color: lightgray;
}

.grid-item {
    width: 31.25px;
    height: 31.25px;
    border: 1px solid black;
}

.break {
    flex-basis: 100%;
    height: 0;
}